                        <nav id="pagination" class=" pagination_pages">
                            <%if @mypages.length >= 1%>
                      <%=link_to_unless_current("<<", searcharticles_path, class: "pager_first") {''}%>

       <%=link_to_unless(((params[:id].to_i - 1) == 2 || (params[:id].to_i - 1) <= 0), "<", ((params[:id].to_i != 2) ? searcharticles_path(s: params[:s],id: params[:id].to_i - 1) : "/category/actualites/"), class: "pager_prev") {''}%>


                            <%@mypages.each do |page|%>
                          <%=
                            (link_to_unless_current((page.to_i), (page == 1 ? searcharticles_path : searcharticles_path(s: params[:s],id: page))) do
                              ('<span class="pager_current '+(page.to_i == params[:id].to_i ? 'active' : '')+' ">'+page.to_s+'</span>').html_safe
                            end)
                          %>
                      <%end%>


                            <%@dotpages.each do |page|%>
                          <%=
                            link_to_unless_current("...", searcharticles_path(s: params[:s],id: page), class: "pager_dot")
                          %>
                      <%end%>

                      <%=link_to_unless_current(@lastpage, searcharticles_path(s: params[:s],id: @nbpages), class: "pager_group") do
                              ('<span class="pager_current '+(page.to_i == params[:id].to_i ? 'active' : '')+' ">'+@lastpage.to_s+'</span>').html_safe
                      end%>

                      <%=link_to_unless(((params[:id].to_i) == @nbpages.to_i), ">", searcharticles_path(s: params[:s],id: (params[:id].to_i + 1)), class: "pager_next") {''}%>

                      <%=link_to_unless_current(">>", searcharticles_path(s: params[:s],id: @nbpages), class: "pager_last") {''}%>
<%else%>
                            # #
                            <%end%>
                        </nav>

