<li class="yrc-video yrc-item-large yrc-item-open yrc-item yrc-just-listed yrc-full-scale" data-video="<%=video.datavideo%>" data-yi="0" style="width: 321.333px; margin-right: 8px;">				
    <figure class="yrc-thumb pb-inline pb-relative yrc-full-scale">					
        <a href="<%=video.link%>" data-id='<%=video.id%>' class="yrc-video-link pb-block" target="_blank" title="<%=video.title%>">						
            
            <img src="/videothequefiles/<%=video.image%>" data-yrc-size="small">					
        </a>				</figure>
    <div class="yrc-item-meta pb-inline">						
        <div class="yrc-name-date yrc-nd-bar">							
            <span class="pb-block yrc-video-title yrc-item-title">
<a data-id='<%=video.id%>' href="<%=video.link%>" class="yrc-video-link" target="_blank" title="<%=video.title%>"><%=video.title%></a>
            </span>							<span class="yrc-video-date "></span><span class="yrc-video-views"></span>						
        </div>					
    </div>			
</li>

