
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd"><html lang="fr"><head><meta http-equiv=Content-Type content="text/html; charset=UTF-8"><style type="text/css" nonce="I2XuZQgmi/4zdrRrCsjQ4w">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon"><title>Gmail - Votre commande pour <%=@event.name%></title><style type="text/css" nonce="I2XuZQgmi/4zdrRrCsjQ4w">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style>
    
    <body><div class="bodycontainer">
            
            <hr>
            
            
            <div class="maincontent">
                
                
                
                
                <hr><table width=100% cellpadding=0 cellspacing=0 border=0 class="message"><tr>
                        
                        
                       <td align=right>
                    
                    
                        
                        <td colspan=2 style="padding-bottom: 4px;">
                    
                    
              
                    
                    
                    <tr><td colspan=2><table width=100% cellpadding=12 cellspacing=0 border=0><tr><td><div style="overflow: hidden;"><font size=-1><u></u>
<div style="background-color:#f0f5fa;line-height:1.3;margin:0;padding:0!important;width:100%" width="100%">
<center style="background-color:#f0f5fa;width:100%">
<p>
</p>
<div style="display:none;font-family:sans-serif;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden">
 </div>
<div style="display:none;font-family:sans-serif;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden">
‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌ ‌<wbr> ‌ ‌ </div>
<div class="m_9154527664772482935email-container" style="margin:0 auto;max-width:600px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:auto" width="100%">
<tbody>
<tr>
<td style="padding:20px 0;text-align:center">
<a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2F%3Fc=sys_mail%2F/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/nTeYP_rof6wOh1hqyEN79jVe8VTDM-jNF1gtmRQqpi0=236" style="color:#0032fa;font-family:Impact,Haettenschweiler,&#39;Franklin Gothic Bold&#39;,&#39;Arial Black&#39;,&#39;sans serif&#39;;font-size:16px;outline-color:#0f0f14;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252F%253Fc%3Dsys_mail%252F/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/nTeYP_rof6wOh1hqyEN79jVe8VTDM-jNF1gtmRQqpi0%3D236&amp;source=gmail&amp;ust=1646603827319000&amp;usg=AOvVaw0bdk8Q-LbsKiiaRFMu3guT"></a></td>
</tr>
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" class="m_9154527664772482935td-container" role="presentation" width="100%">
<tbody>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px;padding-top:40px;text-align:center">
<img alt="alt_text" border="0" height="100" src="https://ci6.googleusercontent.com/proxy/hVwoscSFvIcGiGFZYoWrcQ5KJl0fLhHscUdqaQVOAfJmtdJyCF3e5tkUVxmoUQXDDtAdLxeYMqHRKfRznVUIR-vX8JQWHEEi6qL9kRoh69jEbeOeqQ4aKcH099nLsO78JZysq1ji=s0-d-e1-ft#https://wzeweb-p-billetterie.s3.amazonaws.com/assets/images/pictos/felicitation.png" style="height:100px;vertical-align:middle;width:auto">
<h1 style="border-bottom:1px solid #f0f5fa;font-size:24px;font-weight:400;margin-bottom:0;margin-top:1em;padding-bottom:1em;padding-left:1em;padding-right:1em">
Merci pour votre commande ! <span style="display:block;font-weight:700"> <%=@event.name%> </span> <span style="color:grey;display:block;font-size:16px;font-weight:400;margin-top:.3em"> <%=l(@event.startDate.to_date, format: :dateevent)%> - <%=l(@event.time, format: :shortclock)%><%if @event.length%> à <%=l(@event.endtime, format: :shortclock)%><%end%>
 </span></h1>
</td>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px;padding-top:10px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0 auto 0!important">
<tbody>
<tr>
<td style="background:#0032fa;border-radius:10px;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding:0!important;padding-bottom:40px;padding-left:60px;padding-right:60px;padding-top:40px;text-align:left">
    <a href="<%=@urlbillet%>" style="background:#0032fa;border-radius:4px;color:#fff;display:block;font-family:sans-serif;font-size:15px;font-weight:700;line-height:15px;outline-color:#0f0f14;text-decoration:none;padding:1em!important;text-decoration:none;text-transform:uppercase" target="_blank" data-saferedirecturl="<%=@urlbillet%>">Je télécharge mes billets </a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px;padding-top:10px">
<hr style="border:0;border-top:1px solid #f0f5fa;display:block;height:1px;margin:0;padding:0;width:100%">
</td>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:90px;padding-right:90px;padding-top:10px">
<h2 style="font-size:16px;font-weight:400;margin-top:.8em">
Ma commande n°<%=@nocommande%></h2>
<p style="color:grey;line-height:1.5">
<br>
<table style="width:100%;border:1px solid #eee;color:#666;font-family:Arial,sans-serif;padding:20px"><tr><th style="padding:3px;padding-left:10px;width:60%;text-align:left;border-bottom:1px dashed #808080">Participants</th>
<th style="padding-right:10px;width:20%;text-align:center;border-left:1px dashed #808080;border-right:1px dashed #808080;border-bottom:1px dashed #808080">Taux de taxe</th>
<th style="padding:10px;width:20%;text-align:center;border-bottom:1px dashed #808080">Prix TTC</th>
</tr>
<%@ticket.quantite.times do%>

<tr><td style="padding:3px;padding-left:10px;padding-top:10px;width:60%;text-align:left;font-weight:bold;vertical-align:top"><%=@buyer.fullname%></td>
<td style="padding:3px;width:20%"></td>
<td style="padding:3px;width:20%"></td>
</tr><tr><td style="padding:3px;padding-left:10px;width:60%;text-align:left;vertical-align:top">invitation</td><td style="padding:3px 10px;width:20%;text-align:right;border-left:1px dashed #808080;border-right:1px dashed #808080;vertical-align:top"></td>
<td style="padding:3px;padding-right:10px;width:20%;text-align:right;vertical-align:top"><%=number_to_currency(@event.price, unit: @event.priceCurrency, separator: ".")%></td>
</tr>

<%end%>
</table><div style="float:right;padding:2px;margin-left:20px;margin-right:30px;text-align:right"><span style="font-size:18px"><%=@ticket ? number_to_currency(0, unit: @event.priceCurrency, separator: ".") : nil%></span></div><div style="padding:2px;text-align:right;font-weight:bold"><span style="font-size:18px">TOTAL TTC</span></div></p>
<hr style="border:0;border-top:1px solid #f0f5fa;display:block;height:1px;margin:0;padding:0;width:100%">
<h2 style="font-size:16px;font-weight:400;margin-top:1.6em">
Informations pratiques</h2>
<h4 style="color:grey;line-height:1.5">
Lieu de l&#39;événement</h4>
<p style="color:grey;line-height:1.5">
<%=@event.lieuevent%>

<br>
<br>
Merci de présenter ce billet à l&#39;entrée de l&#39;événement. Une pièce d&#39;identité pourra également vous être demandée.</p>
<p style="color:grey;line-height:1.5">
Pour toute question sur l&#39;événement, veuillez écrire à : <a href="mailto:communication@cmdt-guyane.fr" target="_blank">communication@cmdt-guyane.fr</a><br>
</p>
</td>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px">
<hr style="border:0;border-top:1px solid #f0f5fa;display:block;height:1px;margin:0;padding:0;width:100%">
</td>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px;padding-top:10px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0 auto 0!important">
<tbody>
<tr>
<td style="background:#e5eafe;border-radius:10px;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:12px;padding:0 0 10px 0!important;text-align:center;margin:5px">
<div style="background:#e5eafe;border-radius:4px;color:#000;display:block;font-family:sans-serif;font-size:12px;font-weight:700;line-height:15px;outline-color:#0f0f14;text-decoration:none;padding:1em!important;text-decoration:none;text-transform:uppercase">
Ajouter à mon agenda</div>
<a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2Fwidget%2Fcalendar%2Faddtogooglecalendar%2F811407%2F66099022/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/Sy2LyxTJIebc6UfbLlML7YlEEALpOmWTTDb6nKhuTL0=236" style="padding:5px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252Fwidget%252Fcalendar%252Faddtogooglecalendar%252F811407%252F66099022/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/Sy2LyxTJIebc6UfbLlML7YlEEALpOmWTTDb6nKhuTL0%3D236&amp;source=gmail&amp;ust=1646603827320000&amp;usg=AOvVaw1tIMRNZqn7g9evyzgcdGRw"><img src="https://ci3.googleusercontent.com/proxy/cc9Dn2LxzZgMXQ0LV9s7eqGNDo_sNTm18VXM3o57SG9_3VcLKkv6QUa0SJMZiEvyWwlg7o95sS6OZiZx71Q3ZPyAlVJAlGiz1lABrs_OSxy8QTDXdk_zcbgS5FSwyYNKGtoseda_9-5mbZXwTYOUdSHFcNu33LZGLR4HLQeihCa0ig=s0-d-e1-ft#https://www.weezevent.com/uploads/ckfinder/7833d176ad6f6dde5efc95848e6f47a8/images/843776_google_icon%20(1).png" title="Google Calendar" width="25px"></a> <a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2Fwidget%2Fcalendar%2Fdownloadics%2F811407%2F66099022/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/fNLFczyTbTIEPXSTMYgElGL0u-JRxRsxxijCYjIwrMg=236" style="padding:5px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252Fwidget%252Fcalendar%252Fdownloadics%252F811407%252F66099022/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/fNLFczyTbTIEPXSTMYgElGL0u-JRxRsxxijCYjIwrMg%3D236&amp;source=gmail&amp;ust=1646603827320000&amp;usg=AOvVaw1znVZqVDAJYpci78YPPQTy"><img src="https://ci5.googleusercontent.com/proxy/VrA2T5EwRendurWGBuhCj0HhWySuIpKMS9SkPIykGNQ3Hp3Xf4IwzxuSNTjG7SHKTbqiXgTAwFnCuHcizcVRxxKAUmvpdA-2IX0bmnlbsm0SYQy9xwLB04IEg5aVdXUmZBcZHZBku9anwTASscWAx32Fq3VJh5P2n31t9gizwi7zIW-t0dcc=s0-d-e1-ft#https://www.weezevent.com/uploads/ckfinder/7833d176ad6f6dde5efc95848e6f47a8/images/843780_microsoft_outlook_icon.png" title="Apple Calendar" width="25px"></a> <a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2Fwidget%2Fcalendar%2Fdownloadics%2F811407%2F66099022/2/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/EfOn_gGPch15FcRYbH_ZtpsuGlTFnylJqFG4s83bPJw=236" style="padding:5px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252Fwidget%252Fcalendar%252Fdownloadics%252F811407%252F66099022/2/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/EfOn_gGPch15FcRYbH_ZtpsuGlTFnylJqFG4s83bPJw%3D236&amp;source=gmail&amp;ust=1646603827320000&amp;usg=AOvVaw0na_67zN8ZQmG14B6E1dRg"><img src="https://ci5.googleusercontent.com/proxy/m50WqdGB9gWhKb9-BJ_MBl2ZtellzKb1TG4tIm1jxOwb-4dJ1y2TAfarywJ1R-yirCG_gGgfcgZs2tyqXeaziL34nrYj_1y7BFQY66z9wDFa9X9t874hTcNQWAc8XMilw-cD1BWD-98zGTuZ-B4EceuqqNeCJnyEDyML=s0-d-e1-ft#https://www.weezevent.com/uploads/ckfinder/7833d176ad6f6dde5efc95848e6f47a8/images/104490_apple_icon.png" title="Microsoft Outlook" width="25px"></a> <a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2Fwidget%2Fcalendar%2Fdownloadics%2F811407%2F66099022/3/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/jef5QHi68-Na-cbWCiYjY02sqhRLFCqgz6-iwqVFsXc=236" style="padding:5px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252Fwidget%252Fcalendar%252Fdownloadics%252F811407%252F66099022/3/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/jef5QHi68-Na-cbWCiYjY02sqhRLFCqgz6-iwqVFsXc%3D236&amp;source=gmail&amp;ust=1646603827320000&amp;usg=AOvVaw0cH_asZ4L8GxtjEYdVKHsq"><img src="https://ci5.googleusercontent.com/proxy/arAgwpqJTMe92awygx9-cd2DyEvAOjPbpDlb60OL-TfsihIbwspxl1lZm2n4APcIZY-cEhmt81ADM5s4R2vYxuYCk4xh3GcC9eeoDiM9Bq4hUl9-LZYxDkymhPsHSPlw9H9ZCxKtlZ06io9l4bwaztV8TIXQ6thfhfo_en33ScepFE-grUohfpwi-24AxO0ZvQ=s0-d-e1-ft#https://www.weezevent.com/uploads/ckfinder/7833d176ad6f6dde5efc95848e6f47a8/images/2203551_book_calendar_date_monthly_icon.png" title="Autres" width="25px"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:10px;padding-left:60px;padding-right:60px;padding-top:10px">
<hr style="border:0;border-top:1px solid #f0f5fa;display:block;height:1px;margin:0;padding:0;width:100%">
</td>
</tr>
<tr>
<td style="background:#fff;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:40px;padding-left:90px;padding-right:90px;padding-top:10px">
<h2 style="font-size:16px;font-weight:400;margin-top:1.6em">
Informations légales</h2>
<h4 style="color:grey;line-height:1.5">
Organisateur</h4>
<p style="color:grey;line-height:1.5">
CMDTG<br>
Route de Montabo Bt ENCRE BP 60 900<br>
97341<br>
CAYENNE Cedex<br>
France</p>
<h4 style="color:grey;line-height:1.5">
Acheteur</h4>
<p style="color:grey;line-height:1.5">
<%=@buyer.fullname%><br>
<a href="mailto:<%=@buyer.email%>" target="_blank"><%=@buyer.email%></a><br>
</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td class="m_9154527664772482935td-container">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
<tbody>
<tr>
<td style="background:#e5eafe;font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;font-size:14px;padding-bottom:20px;padding-left:90px;padding-right:90px;padding-top:20px">
<p style="font-size:13px;line-height:1.5em;margin:0">
Cette solution de billetterie et d’inscription en ligne est fournie par Weezevent.<br>
Vous organisez des événements ? Sur <a href="https://t.mail.weezevent.com/CL0/https:%2F%2Fwww.weezevent.com%2F%3Fc=sys_mail%3Fc=sys_mail/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/0ZuTwls4pAdfzWxaj6UQPXa0gpOKlrpXLd7xfYiNDb8=236" style="border-bottom:1px solid #0f0f14;color:#0f0f14;outline-color:#0f0f14;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=https://t.mail.weezevent.com/CL0/https:%252F%252Fwww.weezevent.com%252F%253Fc%3Dsys_mail%253Fc%3Dsys_mail/1/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/0ZuTwls4pAdfzWxaj6UQPXa0gpOKlrpXLd7xfYiNDb8%3D236&amp;source=gmail&amp;ust=1646603827320000&amp;usg=AOvVaw0iPykkvZM-FXCN23KBGXFt">weezevent.com</a>, c’est simple, rapide et pro.</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" class="m_9154527664772482935mentions m_9154527664772482935td-container" role="presentation" width="100%">
<tbody>
<tr>
<td style="font-family:&#39;Helvetica Neue&#39;,Helvetica,Arial,sans-serif;padding-bottom:30px;padding-left:90px;padding-right:90px;padding-top:30px">
 </td>
</tr>
</tbody>
</table>
</div>
</center>
<img alt="" src="https://ci5.googleusercontent.com/proxy/2y0b55zrSajgxKv92EsVNLKl549wal1vC_urn6cLWbxxZwHwBSGlkBW0GEOR0VKyxQOvFy0j9LApRaJKRpjAho9OvSIjOSxt8UFtY8FKZEyKF82BBCOK0eL352Ij-VmeGIKT8AaJItzkN2ZSUDvx_LIbswtmZvJKi_5A7do-h5rEYxK8NBF6aBQ6q-cAxX6EW1QuuMimHf1tN9ZpdQemjw=s0-d-e1-ft#http://t.mail.weezevent.com/CI0/0102017ef87cb559-c1a470d7-904a-4921-a2d3-87a0fdfd442f-000000/AD3jL5zXZkLla9Xx1XXR64AyST44lCkQPBjxVosmJN0=236" style="display:none;width:1px;height:1px">
</div>
</font></div><br clear=all><div style="width:50%;border-top:2px #AAAAAA solid"></div><table class="att" cellspacing="0" cellpadding="5" border="0"><tr><td><table cellspacing=0 cellpadding=0><tr><td><a target=_blank href="?ui=2&amp;ik=ffc7003ceb&amp;view=att&amp;th=17ef87cbaee8895e&amp;attid=0.1&amp;disp=attd&amp;safe=1&amp;zw"><img width=16 height=16 src="https://ssl.gstatic.com/ui/v1/icons/mail/images/pdf.gif"></a></td><td width=7></td><td><b>14022022_COMMANDE_<wbr />C4E811407O171967.pdf</b><br/>141K </td></tr></table></td></tr></table></table></table></div></div><script type="text/javascript" nonce="LoypEHGYp731llTsTPeUcw">// <![CDATA[
document.body.onload=function(){document.body.offsetHeight;window.print()};
// ]]></script></body>
